body {
}
.dotted-bg[data-v-5c0dad5d] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(90deg,#f5f7fa 38px,transparent 1%) 50%,linear-gradient(#f5f7fa 38px,transparent 1%) 50%,rgba(0,0,0,.1);
    background-size: 40px 40px;
 }

.dotted-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(90deg,#f5f7fa 38px,transparent 1%) 50%,linear-gradient(#f5f7fa 38px,transparent 1%) 50%,rgba(0,0,0,.1);
    background-size: 40px 40px;
}

h1 {
	font-family: Avenir;
    font-size: 8em;
    color: #647F86;
    text-align: center;
    margin-top: 2em;
    margin-bottom: -.1em;
}

p {
    font-family: opensans;
    font-size: 14px;
    color: #9eb5bd;
    text-align: center;
}
